<%-include('../adminView/include/ad_header')-%>
<%-include('../adminView/include/_sidebar')-%>



<main class="px-md-4 icons " style="margin-left: 18%;width: 80%; margin-top: 6%;">

    <h1 class="mt-5">Add New Product</h1>
    <div class="row d-flex justify-content-between">
        <div class="col-md-8 border p-3 mb-3">
            <br>
            <form action="/admin/add-productPage" method="post" enctype="multipart/form-data" class="bg-white ">
                <div class="form-group border p-3 mb-3">
                    <label for="productName">Name : </label>
                    <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                        placeholder="Enter product name" required />
                </div><br>

                <div class="form-group border p-3 mb-3">
                    <label for="productDescription">Description:</label>
                    <textarea class="form-control bg-light" name="Description" id="productDescription" rows="4"
                        placeholder="Enter product description" required></textarea>
                </div>
                <br>
                <div class="form-group border p-3 mb-3">
                    <label for="productSpecification">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification1" id="productSpecification1"
                        placeholder="Enter product Specification" required></textarea>
                    <label for="productSpecification2">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification2" id="productSpecification"
                        placeholder="Enter product Specification" required></textarea>
                    <label for="productSpecification3">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification3" id="productSpecification"
                        placeholder="Enter product Specification" required></textarea>
                    <label for="productSpecification4">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification4" id="productSpecification"
                        placeholder="Enter product Specification" required></textarea>
                </div>
                <br>
                <div class="border p-3 mb-3">
                    <h2>Images</h2>
                
                    <!-- Image 0 -->
                    <input type="file" name="main" accept="image/*" style="width: 188px; height:188px;" onchange="viewImage(0, event)" >
                    <img src="/product-img/" alt="Image 0" width="88" height="88" id="imgView0" >
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(0)">Delete</button>
                    <br>
                
                    <!-- Image 1 -->
                    <input type="file" name="image1" accept="image/*" style="width: 188px; height:188px;" onchange="viewImage(1, event)" >
                    <img src="/product-img/" alt="Image 1" width="88" height="88" id="imgView1">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(1)">Delete</button>
                    <br>
                
                    <!-- Image 2 -->
                    <input type="file" name="image2" accept="image/*" style="width: 188px; height:188px;" onchange="viewImage(2, event)" >
                    <img src="/product-img/" alt="Image 2" width="88" height="88" id="imgView2">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(2)">Delete</button>
                    <br>
                
                    <!-- Image 3 -->
                    <input type="file" name="image3" accept="image/*" style="width: 188px; height:188px;" onchange="viewImage(3, event)" >
                    <img src="/product-img/" alt="Image 3" width="88" height="88" id="imgView3">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(3)">Delete</button>
                </div>

                <div class="border p-3 mb-3">
                    <h2>Pricing</h2>
                    <div class="form-group">
                        <label for="basePrice">Price:</label>
                        <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                            placeholder="Enter base price" required min="0"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="discountAmount">Discount Amount:</label>
                        <input type="number" name="DiscountAmount" class="form-control bg-light"
                            id="discountAmount" placeholder="Enter discount amount" required min="0"/>
                    </div>
                </div>



                <div class="border p-3 mb-3">
                    <h2>Stock</h2>

                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="AvailableQuantity" class="form-control bg-light"
                            id="quantity" placeholder="Enter quantity" required min="0"/>
                    </div>
                </div>
        </div>

        <div class="col-md-4  ">
            <div class="bg-white  border p-3 mb-3">
                <div class="form-group">
                    <br>
                    <label>Category:</label>
                    <select class="form-select bg-light" id="category" name="Category" required>
                        <option value="" selected disabled>Select a category</option>
                         <%if(categoryData){%>
                            <%categoryData.forEach((data)=>{%>
                              <option value="<%=data.name%>">
                                <%=data.name%>
                              </option>
                              <%})%>
                                <%}%>   
                    </select>
                </div><br>
                <div class="form-group">
                    <br>
                    <label>Brand Name:</label>
                    <select name="BrandName" class="form-select bg-light" id="brand" required>
                        <option value="" selected disabled>Select a Brand</option>
                        <%if(brandData){%>
                            <%brandData.forEach((data)=>{%>
                              <option value="<%=data.name%>">
                                <%=data.name%>
                              </option>
                              <%})%>
                                <%}%>
                    </select>
                </div><br>
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control bg-light" name="Tags" id="tags"
                        placeholder="Enter tags"  />
                        <br>
                        <button onclick="return confirm('Do you want Add new product')" type="submit" class="btn btn-primary" >Add Product</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>

<script>
    function viewImage(index, event) {
        var inputFile = event.target;
        var imgView = document.getElementById('imgView' + index);

        if (inputFile.files && inputFile.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                imgView.src = e.target.result;

                if (!inputFile.files[0].type.startsWith('image/')) {
                    alert("Please select a valid image file.");
                    inputFile.value = "";
                    imgView.src = "/product-img/";
                }
            };

            reader.readAsDataURL(inputFile.files[0]);
        }
    }

    function deleteImage(index) {
        var inputFile;
        if (index === 0) {
            alert("Let's delete the image");
            inputFile = document.querySelector('input[name="main"]');
        } else {
            alert("Let's delete the image");
            inputFile = document.querySelector('input[name="image' + index + '"]');
        }
        inputFile.value = "";

        var imgView = document.getElementById('imgView' + index);
        imgView.src = "/product-img/";
    }
</script>