<%-include('../adminView/include/ad_header')-%>
<%-include('../adminView/include/_sidebar')-%>



<main class="px-md-4 icons " style="margin-left: 18%;width: 80%; margin-top: 6%;">

    <h1 class="mt-5">Edit Product</h1>
    <div class="row d-flex justify-content-between">
        <div class="col-md-8 border p-3 mb-3">
            <br>
            <form action="/admin/update-productPage/<%=ProductData.id%>" method="post" enctype="multipart/form-data" class="bg-white ">
                <div class="form-group border p-3 mb-3">
                    <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                     value="<%- ProductData.ProductName%>" required/>
                </div><br>

                <div class="form-group border p-3 mb-3">
                    <textarea class="form-control bg-light" name="Description" id="productDescription" rows="4"
                        required><%- ProductData.Description%></textarea>
                </div>
                <br>
                <div class="form-group border p-3 mb-3">
                    <label for="productSpecification">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification1" id="productSpecification1"
                        placeholder="Enter product Specification" required><%- ProductData.Specification1%></textarea>
                    <label for="productSpecification2">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification2" id="productSpecification"
                        placeholder="Enter product Specification" required><%- ProductData.Specification2%></textarea>
                    <label for="productSpecification3">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification3" id="productSpecification"
                        placeholder="Enter product Specification" required><%- ProductData.Specification3%></textarea>
                    <label for="productSpecification4">Specification:</label>
                    <textarea class="form-control bg-light" name="Specification4" id="productSpecification"
                        placeholder="Enter product Specification" required><%- ProductData.Specification4%></textarea>
                </div>
                <br>
                <div class="border p-3 mb-3">
                    <h2>Images</h2>
                    <!-- Main Image -->
                    <label for="mainImage">Image 0:</label>
                    <input type="file" name="main" accept="image/*" id="mainImage" onchange="validateImage(0, event)">
                    <img src="/product-img/<%= ProductData.images[0] %>" alt="Old Main Image" width="88" height="88" id="imgView0">
                    <input type="hidden" id="productId" value="<%= ProductData.id %>">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(0)">Delete</button>
                    <br>
                    <!-- Image 1 -->
                    <label for="image1">Image 1:</label>
                    <input type="file" name="image1" accept="image/*" id="image1" onchange="validateImage(1, event)">
                    <img src="/product-img/<%= ProductData.images[1] %>" alt="Old Image 1" width="88" height="88" id="imgView1">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(1)">Delete</button>
                    <br>
                    <!-- Image 2 -->
                    <label for="image2">Image 2:</label>
                    <input type="file" name="image2" accept="image/*" id="image2" onchange="validateImage(2, event)">
                    <img src="/product-img/<%= ProductData.images[2] %>" alt="Old Image 2" width="88" height="88" id="imgView2">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(2)">Delete</button>
                    <br>
                    <!-- Image 3 -->
                    <label for="image3">Image 3:</label>
                    <input type="file" name="image3" accept="image/*" id="image3" onchange="validateImage(3, event)">
                    <img src="/product-img/<%= ProductData.images[3] %>" alt="Old Image 3" width="88" height="88" id="imgView3">
                    <button class="btn btn-outline-danger" type="button" onclick="deleteImage(3)">Delete</button>
                </div>
                
                


                <div class="border p-3 mb-3">
                    <h2>Pricing</h2>
                    <div class="form-group">
                        <label for="basePrice">Price:</label>
                        <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                           value="<%- ProductData.Price%>" placeholder="Enter base price" required min="0" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="discountAmount">Discount Amount:</label>
                        <input type="number" name="DiscountAmount" class="form-control bg-light"
                            id="discountAmount" value="<%- ProductData.DiscountAmount%>" placeholder="Enter discount amount" required min="0" />
                    </div>
                </div>



                <div class="border p-3 mb-3">
                    <h2>Stock</h2>

                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="AvailableQuantity" class="form-control bg-light"
                            id="quantity" value="<%- ProductData.AvailableQuantity%>" placeholder="Enter quantity" required min="0"/>
                    </div>
                </div>
        </div>

        <div class="col-md-4  ">
            <div class="bg-white  border p-3 mb-3">
                <div class="form-group">
                    <br>
                    <label>Category:</label>
                    <select class="form-select bg-light" id="category" name="Category" >
                        <option value="" selected disabled><%- ProductData.Category%></option>
                         <%if(categoryData){%>
                            <%categoryData.forEach((data)=>{%>
                              <option value="<%=data.name%>">
                                <%=data.name%>
                              </option>
                              <%})%>
                                <%}%>   
                    </select>
                </div><br>
                <div class="form-group">
                    <br>
                    <label>Brand Name:</label>
                    <select name="BrandName" class="form-select bg-light" id="brand" >
                        <option value="" selected disabled><%- ProductData.BrandName%></option>
                        <%if(brandData){%>
                            <%brandData.forEach((data)=>{%>
                              <option value="<%=data.name%>">
                                <%=data.name%>
                              </option>
                              <%})%>
                                <%}%>
                    </select>
                </div><br>
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control bg-light" name="Tags" id="tags"
                        placeholder="Enter tags" value="<%- ProductData.Tags%>"  />
                        <br>
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Do you want Edit product')">Edit Product</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>

<script>
    function validateImage(index, event) {
        var inputFile = event.target;
        var imgView = document.getElementById('imgView' + index);

        if (inputFile.files && inputFile.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgView.src = e.target.result;

                if (!inputFile.files[0].type.startsWith('image/')) {
                    alert("Please select a valid image file.");
                    inputFile.value = "";
                    imgView.src = "/product-img/placeholder.jpg";
                }
            };

            reader.readAsDataURL(inputFile.files[0]);
        }
    }

    function deleteImage(index) {
        const productId = document.getElementById('productId').value;

        fetch(`/admin/delete-image/${productId}/${index}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.status === 200) {
                alert("Let's delete the image");
                refreshImages(); 
            } else {
                alert('Failed to delete image');
            }
        })
        .catch(error => {
            console.error('Error deleting image:', error);
        });
    }

    function refreshImages() {
        window.location.reload();
    }
</script>
</body>
</html>