<!DOCTYPE html>

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- <title>Document-1</title> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/user-style.css">
</head>

<body>
        <header class="main_nav" style="border: .5px solid rgb(0, 0, 0)">
            <div class="top_bar">
                <p style="margin: 0;">FREE SHIPPING & RETURNS ON ALL US ORDERS</p>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/user/home">
                        <img src="/images/Mobi Cart Logo.png" alt="" style="width: 105px;">
                    </a>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item ml-3">
                                <form class="form-inline" action="#" method="post">
                                    <div class="input-group">
                                        <input type="search" name="searchAllProduct" class="form-control" placeholder="Search product">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary " type="submit">
                                                <img src="/images/search.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link" href="#">
                                    <img width="30" height="28" src="https://img.icons8.com/ios/50/shopping-mall.png" alt="shopping-mall"/>
                                </a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link" href="#">
                                    <img width="30" height="28" src="https://img.icons8.com/fluency-systems-regular/48/like--v1.png" alt="like--v1"/>
                                </a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link" href="#">
                                    <img width="29" height="33" src="https://img.icons8.com/parakeet-line/48/shopping-cart.png" alt="shopping-cart"/>
                                </a>
                            </li>
                            <div class="dropdown ml-3">
                                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Account
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="/user/Login-Signup">Login</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    
    <div class="bg-light">
        <div>
            <div class="text-center">
                <div class="dashbrd"  style="width: 100%; background-color: rgb(255, 255, 255);">
                    <!-- <a href="" class="btn btn-warning" style="position: absolute; margin-top: 35%; left:12%">Buy Now</a>
                    <a href="" class="btn btn-light" style="position: absolute; margin-top: 35%; left:20%">Add To Cart</a> -->
                    <% if (bannerImg&& bannerImg[0].image) { %>
                        <img src="/banner-img/croppedImage/<%= bannerImg[0].image %>" class="d-block w-100" alt="">
                        <% } else { %>
                            <!-- <img src="/images/first.webp" class="d-block w-100" alt=""> -->
                        <p>No banner image available</p>
                    <% } %>
                    <h1 class="text-black pt-4 ">Discover NEW Arrivals</h1>
                    <P>Recently added Mobiles!</P>          
                    <div class="row" style="margin:2%;">
                        <% if (Array.isArray(productData)) { %>
                        <% productData.forEach((x)=>{ %>
                            <% if(x.AvailableQuantity > 0 && x.Status===true){%>
                        <div class="col-md-3 p-4">
                            <div class="card" style="width: 18rem;margin-left: 20px;">
                                <img class="card-img-top" style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;" src="/product-img/<%= x.images[0] %>" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title"><%=x.ProductName%></h6>
                                    <p class="card-title"><%=x.BrandName%></p>
                                    <p class="card-text" style="font-weight: 700;">₹<%=x.DiscountAmount%>/-
                                    <s class="card-text" style="font-weight: 500; font-size: 12px; color: red;">  ₹<%=x.Price%>/-</s></p>
                                    <button class="btn btn-warning rounded-3 btn-sm add-to-cart-button">
                                        Add To Cart
                                    </button>
                                    <botton class="btn btn1 rounded-3 add-to-wishlist-button"><i class="fa fa-heart"></i></botton>
                                    <a href="#" class="btn btn-primary rounded-3 btn-sm">view Details</a>
                                </div>
                            </div>     
                        </div>
                        <% } %>    
                        <%}) %>
                        <% } %>
                     </div>
                     <a href="/allProducts">View All</a> 
                </div>            
            </div>
        </div>
    </div>



    
  
<%-include('../userView/include/user_footer')-%>