<!DOCTYPE html>

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- <title>Document-1</title> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/user-style.css">
</head>

<body>
    <header class="main_nav">
        <div class="top_bar">
            <p style="margin: 0;">FREE SHIPPING & RETURNS ON ALL US ORDERS</p>
        </div>
        <div class="nav_bar">
            <div class="all_items">
                <div class="logo_section">
                    <a href="/">

                        <img src="/images/Mobi Cart Logo.png" alt="" style="width: 120px;">
                    </a>
                </div>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="">Contact</a>
                    <a href="">About</a>
                </div>
                <div class="icons">
                    <div class="search_box">
                        <input type="search" placeholder="search product">
                        <img src="/images/search.svg" alt="">
                    </div>
                    <a href="#">
                        <img width="33" height="33" src="https://img.icons8.com/material-sharp/24/shop.png" alt="shop"/>
                    </a>
                    <a href="#">
                        <!-- <img class="cart" src="/images/cart.svg" alt=""> -->
                        <img width="34" height="36" src="https://img.icons8.com/sf-black-filled/64/shopping-cart.png" alt="shopping-cart"/>
                        <span id="cartCnt"></span>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/user/Login-Signup">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="bg-light">
        <div>
            <div class="text-center">
                <div class="dashbrd"  style="width: 100%; background-color: rgb(180, 226, 172);">
                    <!-- <a href="" class="btn btn-warning" style="position: absolute; margin-top: 35%; left:12%">Buy Now</a>
                    <a href="" class="btn btn-light" style="position: absolute; margin-top: 35%; left:20%">Add To Cart</a> -->
                    <img src="/images/first.webp" class="d-block w-100" alt="">
                    <h1 class="text-black pt-4 ">Discover NEW Arrivals</h1>
                    <P>Recently added Mobiles!</P>          
                    <div class="row" style="margin:0%;">
                        <% if (Array.isArray(productData)) { %>
                        <% productData.forEach((x)=>{ %>
                            <% if(x.AvailableQuantity > 0 && x.Status===true){%>
                        <div class="col-md-3 p-4">
                            <div class="card" style="width: 18rem;margin-left: 20px;">
                                <img class="card-img-top" style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;" src="/product-img/<%= x.images[0] %>" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title"><%=x.ProductName%></h6>
                                    <p class="card-title"><%=x.BrandName%></p>
                                    <p class="card-text" style="font-weight: 700;">₹<%=x.Price%>/-</p>
                                    <a href="#" class="btn btn-warning">Add To Cart</a>
                                    <a href="#" class="btn btn-primary">view Details</a>
                                </div>
                            </div>     
                        </div>
                        <% } %>    
                        <%}) %>
                        <% } %>
                     </div>
                     <a href="/allProducts">View All</a> 
                </div>            
            </div>
        </div>
    </div>



    
  
<%-include('../userView/include/user_footer')-%>