<%-include('../userView/include/user_header')-%>

<div class="row" style="width: 100%;">
    <div class="col-12 col-lg-5"
        style="border-right: 1px solid rgb(141, 141, 141); border-bottom: 1px solid rgb(141, 141, 141); padding-top: 50px;">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <div id="img-container" style="z-index: 1;">
                <img id="main-image" src="/product-img/<%=productData.images[0]%>" alt="Product Image 1">
            </div>
        </div>
        <div class="col-lg-12 d-flex m-1 justify-content-center align-items-center" style="height: 140px;">
            <div class="thumbnail" data-image-index="0" style="width: 80px; height: 120px; margin: 5px;">
                <img style="width: 60px; height: 120px;" src="/product-img/<%=productData.images[0]%>" alt="Product Image 2">
            </div>
            <div class="thumbnail" data-image-index="0" style="width: 80px; height: 120px; margin: 5px;">
                <img style="width: 60px; height: 120px;" src="/product-img/<%=productData.images[1]%>" alt="Product Image 2">
            </div>
            <div class="thumbnail" data-image-index="1" style="width: 80px; height: 120px; margin: 5px;">
                <img style="width: 60px; height: 120px;" src="/product-img/<%=productData.images[2]%>" alt="Product Image 3">
            </div>
            <div class="thumbnail" data-image-index="2" style="width: 80px; height: 120px; margin: 5px;">
                <img style="width: 60px; height: 120px;" src="/product-img/<%=productData.images[3]%>" alt="Product Image 4">
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-7" style="padding-left: 20px;">
        <p></p>
        <p class="paraCap">
            <h4>
                <%=productData.ProductName%>

                <botton class="btn btn- rounded-3 add-to-wishlist-button"
                    data-product-id="<%= productData._id %>">
                    <i class="fa fa-heart <% if (wishlist.includes(productData._id)) { %>text-danger<% } %>"></i>
                </botton>
                     
            </h4>
        </p>
        <%if(productData.IsInCategoryOffer){%>
            <p class="para"><i class="fa-solid fa-circle fa-2xs">
            </i> ₹<%=productData.DiscountAmount%>/- <s class="text-success">₹<%=productData.beforeOffer%></s></p>
            <%}else{%>
                <p class="para"><i class="fa-solid fa-circle fa-2xs">
                </i> ₹<%=productData.DiscountAmount%>/- <s class="text-danger">₹<%=productData.Price%></s></p>
            <%}%>
            <span class="bg-success text-light p-1" style="border-radius: 4px;" ><%= averageRating.toFixed(1)%></span>
                <br>
            <% if(productData.IsInCategoryOffer){ %>
                <br>
                <span class="bg- text-black" style="border-radius: 4px;" >Special Offer : <%= productData.categoryOffer.offerPercentage %>%</span>
                <br>
            <% } %>
                <br>
            <% if(productData.AvailableQuantity > 5){%>
                <h6 class="text-success">In stock</h6>
            <%}else if(productData.AvailableQuantity <= 5 && productData.AvailableQuantity > 0){%>
                <h6 class="text-warning">Left stock</h6>
            <%}else if(productData.AvailableQuantity == 0){%>
                <h6 class="text-danger">Out of stock</h6>
            <% } %>


        <br>
        <p class="paraCapz">SPECIFICATION</p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification1%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification2%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification3%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification4%>
        </p>
        <p class="paraCapz">DISCRIPTION : </p>
        <p style="font-size: smaller;">
            <%=productData.Description%>
        </p>
        <br>
        <div class="d-flex" style="width: 301px;">

            <div class="col-6 d-flex justify-content-center">
                <% if (productData.AvailableQuantity > 0) { %>                    
                    <button class="btn btn-warning add-to-cart-button" data-product-id="<%= productData._id %>" onclick="addEventListener">Add to Cart</button>
                  <% } else { %>
                    <button class="btn btn-danger shadow-0 add-to-cart-button">Add to Cart</button>
                  <% } %>
            </div>
        </div>
        <div class="d-flex flex-column mt-4 border p-3 ">
            <h5>User Reviews</h5>
    
            <div class="user-reviews-box">
                <% if (userAllReview && userAllReview.length > 0) { %>
                    <% userAllReview.slice(0, 2 ).forEach(review => { %>
                        <div class="user-review border p-2 m-2">
                            <p><strong><%= review.userName %></strong></p>
                            <p>
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <i class="fa <%= i <= review.rating ? 'fa-star text-warning' : 'fa-star-o' %>"></i>
                                <% } %>
                                <%= review.rating %> stars
                            </p>
                            <p><%= review.reviewText %></p>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No reviews available.</p>
                <% } %>
                
                
            </div>
                <button type="button" class="btn btn-secondary mt-2" data-toggle="modal" data-target="#exampleModalLong">
                    View All Reviews
                </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">All User Reviews </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="user-reviews-box">
                <% if (userAllReview && userAllReview.length > 0) { %>
                    <% userAllReview.forEach(review => { %>
                        <div class="user-review border p-2 m-2">
                            <p><strong><%= review.userName %></strong></p>
                            <p>
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <i class="fa <%= i <= review.rating ? 'fa-star text-warning' : 'fa-star-o' %>"></i>
                                <% } %>
                                <%= review.rating %> stars
                            </p>
                            <p><%= review.reviewText %></p>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No reviews available.</p>
                <% } %>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2"></script>
<script>
    
    
    // Your JavaScript code for image switching remains the same
    // Ensure the productData object is properly defined and contains image URLs
    var productData = {
        images: [ "<%=productData.images[1]%>", "<%=productData.images[2]%>", "<%=productData.images[3]%>"],
        // Other product data
    };

    var options = {
        width: 300,
        zoomWidth: 200,
        offset: { vertical: 0, horizontal: 10 }
    };
    new ImageZoom(document.getElementById("img-container"), options);

    document.addEventListener("DOMContentLoaded", function () {
        const thumbnails = document.querySelectorAll(".thumbnail");
        const mainImage = document.getElementById("main-image");

        thumbnails.forEach(thumbnail => {
            thumbnail.addEventListener("click", function () {
                const imageIndex = this.getAttribute("data-image-index");
                mainImage.src = `/product-img/${productData.images[imageIndex]}`;
                mainImage.alt = `Product Image ${parseInt(imageIndex) + 1}`;
            });
        });
    });

    document.querySelectorAll('.add-to-cart-button').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const productId = this.getAttribute('data-product-id');
            console.log(productId);

            $.ajax({
            url: '/addtocart/' + productId,
            method: 'POST',
            success: function (response) {
                toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-center",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "toastClass": "black-toast"
                    };
                toastr.success('Product added to cart');
                    updateCartQuantity();
                    location.reload();
            },
                error: function (error) {
                    console.error('Error adding product to cart:', error);
                }
            });
        });
    });

    document.querySelectorAll('.add-to-wishlist-button').forEach(button => {
    button.addEventListener('click', function (event) {
        event.preventDefault();

        const productId = this.getAttribute('data-product-id');
        console.log(">>>>>>>>>>>", productId);
        const icon = this.querySelector('.fa-heart');
        console.log("Wishlist reached");

        $.ajax({
            url: '/wishlist/',
            method: 'POST',
            data: {
                productId: productId,
            },
            success: function (response) {
                console.log(icon.style.color);
                if (response.added) {
                    toastr.success('Added to Wishlist', '', {
                        toastClass: 'custom-toast-success', 
                        positionClass: 'toast-bottom-center',
                        progressBar: true,
                        timeOut: 1500,
                    });

                    icon.classList.add('text-danger');

                    console.log(">>> reached");

                } else {
                    toastr.info('Removed from Wishlist', '', {
                        toastClass: 'custom-toast-info',
                        positionClass: 'toast-bottom-center', 
                        progressBar: true,
                        timeOut: 1500,
                    });

                    icon.classList.remove('text-danger');
                }
            },
            error: function (error) {
                console.error('Error updating wishlist:', error);
            }
        });
    });
});

</script>

<%-include('../userView/include/user_footer')-%>

<style>
    .custom-toast-container {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="your-script.js"></script>
