<%-include('../userView/include/user_header')-%>

<div class="row" style="width: 100%;">
    <div class="col-12 col-lg-5"
        style="border-right: 1px solid rgb(141, 141, 141);border-bottom: 1px solid rgb(141, 141, 141); padding-top: 50px;">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <div id="img-container" style="z-index: 1;">
                <img src="/product-img/<%=productData.images[0]%>"alt="Product imgae 1"></div>
            </div>
                <div class="col-lg-12 d-flex m-1 justify-content-center align-items-center" style="height: 140px;">
                    <div style="width: 80px;height: 120px;margin: 5px;"><img style="width: 60px; height: 120px;"
                    src="/product-img/<%=productData.images[1]%>" alt="Product Image 1" alt=""></div>
                    <div style="width: 80px;height: 120px;margin: 5px;"><img style="width: 60px; height: 120px;"
                    src="/product-img/<%=productData.images[2]%>" alt="Product Image 1" alt=""></div>
                    <div style="width: 80px;height: 120px;margin: 5px;"><img style="width: 60px; height: 120px;"
                    src="/product-img/<%=productData.images[3]%>" alt="Product Image 1" alt=""></div>
            </div>
        
    </div>
    <div class="col-12 col-lg-7" style="height: 700px;padding-left: 20px;">
        <p></p>
        <p class="paraCap">
            <h4>
                <%=productData.ProductName%>
            </h4>     
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i> ₹<%=productData.Price%>/-</p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i> Stock : <%=productData.AvailableQuantity%></p>
        <div
            style="width: 100px; height: 20px;font-weight: 500; font-size: small; background-color: green; padding-left: 20px;color: #fff; border-radius: 5px;">
            Stock : <%=productData.AvailableQuantity%>
        </div>
        <br>
        <p class="paraCapz">SPECIFICATION</p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification1%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification2%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification3%>
        </p>
        <p class="para"><i class="fa-solid fa-circle fa-2xs"></i>
            <%=productData.Specification4%>
        </p>
        <p class="paraCapz">DISCRIPTION : </p>
        <p style="font-size: smaller;">
            <%=productData.Description%>
        </p>
        <br>
        <div class="d-flex" style="width: 301px;">
            <div class="col-6 d-flex justify-content-center"><a
                    style="padding: 12px 16px; color: #fcfcfc; font-weight: 700; font-size: small; background-color: rgb(244, 137, 44); border-radius: 10px;">ADD
                    TO CART</a></div>
            <div class="col-6 d-flex justify-content-center"><a
                    style="padding: 12px 25px; color: #fff; font-weight: 700; font-size: small; background-color: rgb(255, 94, 0); border-radius: 10px;">BUY
                    NOW</a></div>
        </div>
    </div>
</div>


      <script>
        var options = {
            width: 300,
            zoomWidth: 200,
            offset: {vertical: 0, horizontal: 10}
        };
        new ImageZoom(document.getElementById("img-container"), options);
         
        </script>
      
<%-include('../userView/include/user_footer')-%>