<%-include('../userView/include/user_header')-%>
<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</header>

<section class="" style="background: linear-gradient(135deg, #817f7f, #ffffff);">
    <div class="container py-5 ">
        <h3>Orders Status</h3>
        <hr>
        <div class="row d-flex justify-content-center align-items-center ">
        <div class="col">
            <% if(orders){%>
                <% orders.forEach((order) =>{ %>
                    <div class="card card-stepper m-3" style="border-radius: 10px;">
                      <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex flex-column">
                            <h4 >Your order has been <%= order.Status %></h4>
                            <hr>
                            <span class="text-muted small">Orderd by :<%= order.OrderDate %></span>
                            <% if(order.Status == "Delivered"){%>
                                <p class="text-success">Delivered</p>
                                <%}else if(order.Status == "Rejected"){%>
                                  <p class="text-danger">Rejected</p>
                                  <%}else if(order.Status == "Cancelled"){%>
                                  <p class="text-danger">Cancelled</p>
                                    <%}else{%>
                                    <span class="text-muted small">Expected by :<%= order.ExpectedDeliveryDate %></span>
                                    <%}%>
                                    <hr>
                                    <h6>Order ID : <%= order._id%></h6>
                          </div>
                          <div>
                            <a href="/orderProductView/<%= order._id%>">
                                <button class="btn btn-outline-success" type="button">Product details</button>
                            </a>
                            <% if(order.Status == "Delivered"){%>
                            <button type="button" class="btn btn-outline-warning m-2" onclick="generateAndDownloadInvoice('<%= order._id %>')">
                              Download Invoice
                          </button>
                              <%}else if(order.Status == "Cancelled" || order.Status == "Rejected"){%>

                                <%}else{%>
                                  <a href="/cancelOrderData/<%= order._id%>" onclick="return confirm('Do you want to Cancel this product')">
                                    <button class="btn btn-outline-danger" type="button">Cancel Order</button>
                                </a>
                                  <%}%>
                          </div>
                        </div>
                        <hr class="my-4">
            
                        <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                <% if(order.Status == "Pending"){%>
                                <span class="d-flex justify-content-center align-items-center big-dot dot">
                                <i class="fa fa-check text-white"></i></span>
                                <%}else{%>
                                <span class="dot"></span>
                                <%}%>
                          <hr class="flex-fill track-line">
                                <% if(order.Status == "Order Placed"){%>
                                <span class="d-flex justify-content-center align-items-center big-dot dot">
                                <i class="fa fa-check text-white"></i></span>
                                <%}else{%>
                                <span class="dot"></span>
                                <%}%>
                          <hr class="flex-fill track-line">
                                <% if(order.Status == "Shipped"){%>
                                <span class="d-flex justify-content-center align-items-center big-dot dot">
                                <i class="fa fa-check text-white"></i></span>
                                <%}else{%>
                                <span class="dot"></span>
                                <%}%>
                          <hr class="flex-fill track-line">
                                <% if(order.Status == "Delivered"){%>
                                <span class="d-flex justify-content-center align-items-center big-dot dot">
                                <i class="fa fa-check text-white"></i></span>
                                <%}else{%>
                                <span class="dot"></span>
                                <%}%>
                                <% if(order.Status == "Rejected"){%>
                                  <hr class="flex-fill track-line">
                                  <span class="d-flex justify-content-center align-items-center big-dot dot custom-dot">
                                  <i class="fa fa-check text-white"></i></span>
                                  <%}%>
                                  <% if(order.Status == "Cancelled"){%>
                                    <hr class="flex-fill track-line">
                                    <span class="d-flex justify-content-center align-items-center big-dot dot custom-dot">
                                    <i class="fa fa-check text-white"></i></span>
                                    <%}%>

                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                          <div class="d-flex flex-column align-items-start"><span>----</span><span>Pending</span></div>
                          <div class="d-flex flex-column justify-content-center"><span>----</span><span>Order Placed</span></div>
                          <div class="d-flex flex-column justify-content-center"><span>----</span><span>Shipped</span></div>
                          <div class="d-flex flex-column justify-content-center"><span>----</span><span>Delivered</span></div>
                          <% if(order.Status == "Rejected"){%>
                            <div class="d-flex flex-column align-items-end"><span>----</span><span>Rejected</span></div>
                            <%}else if(order.Status == "Cancelled"){%>
                              <div class="d-flex flex-column align-items-end"><span>----</span><span>Cancelled</span></div>
                              <%}%>
                            </div>
            
                      </div>
                    </div>
                    <% }); %>
          <%}else{%>
            <h1 style="text-align: center;">Orders Data is Empty</h1>
            <%}%>
        </div>
      </div>
    </div>
  </section>

  <script>
    async function generateAndDownloadInvoice(orderId) {
        try {
            const response = await fetch('/downloadinvoice', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', 
                },
                body: JSON.stringify({ orderId }) 
            });
            if (response.ok) {

              console.log("inside response");
              Swal.fire({
                    icon: 'success',
                    title: 'Invoice Downloaded Successfully',
                    showConfirmButton: false,
                    timer: 1500 
                });

                window.location.href = `/downloadinvoice/${orderId}`;
            }
        } catch (error) {
            console.error('Error in downloading the invoice:', error);
        }
    }
    </script>

<%-include('../userView/include/user_footer')-%>