<%-include('../userView/include/user_header')-%>

<div class="bg-light">
    <div>
        <div class="text-center">
            <div class="dashbrd"  style="width: 100%; background-color: rgb(252, 252, 252)">
                <!-- <a href="" class="btn btn-warning" style="position: absolute; margin-top: 35%; left:12%">Buy Now</a>
                <a href="" class="btn btn-light" style="position: absolute; margin-top: 35%; left:20%">Add To Cart</a> -->
                <!-- <img src="/images/first.webp" class="d-block w-100" alt=""> -->
                <% if (bannerImg&& bannerImg[0].image) { %>
                    <img src="/banner-img/croppedImage/<%= bannerImg[0].image %>" class="d-block w-100" alt="">
                    <% } else { %>
                        <!-- <img src="/images/first.webp" class="d-block w-100" alt=""> -->
                    <p>No banner image available</p>
                <% } %>
                <h1 class="text-black pt-4 ">Discover New Arrivals</h1>
                <P>Recently added Mobiles!</P>
                         
                <div class="row" style="margin:2%;">
                    <% if (Array.isArray(productData)) { %>
                    <% productData.forEach((product)=>{ %>
                        <% if(product.AvailableQuantity >= 0 && product.Status===true){%>
                    <div class="col-md-3 p-4">
                        <div class="card" style="width: 18rem; margin-left: 20px; position: relative;">
                            
                            <% if(product.AvailableQuantity > 5){%>
                                <span class="bg-success text-white m-2" style="width: 67px; position: absolute; border-radius: 5px;">In stock</span>
                                <%}else if(product.AvailableQuantity <= 5 && product.AvailableQuantity > 0){%>
                                    <span class="bg-warning text-white m-2" style="position: absolute; border-radius: 5px;">Stock left<%= product.AvailableQuantity%></span>
                                    <%}else if(product.AvailableQuantity == 0){%>
                                        <span class="bg-danger text-white m-2" style="position: absolute; border-radius: 5px;">out of stock</span>
                                        <%}%>
                                        
                                        <% if(product.IsInCategoryOffer){ %>
                                            <span class="bg-info text-white m-2" style="position: absolute; top: 0px; right: 0px; z-index: 1; border-radius: 5px;">₹<%= product.categoryOffer.offerPercentage %>% off</span>
                                        <% } %>
                                        <a href="/productDetails/<%=product._id%>">
                                            <img class="card-img-top" style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;" src="/product-img/<%= product.images[0] %>" alt="Card image cap">
                                        </a>
                            <div class="card-body">
                                <h6 class="card-title"><%=product.ProductName%></h6>
                                <p class="card-title"><%=product.BrandName%></p>
                                <p class="card-text" style="font-weight: 700;"> ₹<%=product.DiscountAmount%>/-   
                                    <% if(product.IsInCategoryOffer ){%>
                                        <s class="card-text" style="font-weight: 500; font-size: 12px; color: rgb(10, 112, 9);">  ₹<%=product.beforeOffer %>/-</s></p>
                                        <%}else{%>
                                            <s class="card-text" style="font-weight: 500; font-size: 12px; color: red;">  ₹<%=product.Price%>/-</s></p>
                                            <%}%>
                               
                                    <button class="btn btn-warning rounded-3 btn-sm add-to-cart-button"
                                        data-product-id="<%= product._id %>"
                                        data-available-quantity="<%= product.AvailableQuantity %>">
                                        Add To Cart
                                    </button>
                                    <botton class="btn btn1 rounded-3 add-to-wishlist-button"
                                                        data-product-id="<%= product._id %>">
                                                        <i
                                                        class="fa fa-heart <% if (wishlist.includes(product._id)) { %>text-danger<% } %>"></i>
                                                    </botton>
                                    
                                    <a href="/productDetails/<%=product._id%>" class="btn btn-primary rounded-3 btn-sm">view Details</a>
                            </div>
                        </div>     
                    </div>
                    <% } %>     
                    <%}) %>
                    <% } %>
                </div>
                <a href="/allProducts" class="btn btn-outline-success m-2 btn-sm">View More
                    <img width="20" height="20" src="https://img.icons8.com/ios/50/circled-right-2.png" alt="circled-right-2"/>
                </a> 
            </div>            
        </div>
    </div>
</div>
<%-include('../userView/include/user_footer')-%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



<script src="your-script.js"></script>

<script>




    function updateCartQuantity() {

        $.ajax({
            url: '/getcartquantity',
            method: 'GET',
            success: function (response) {
                const cartQuantityElement = document.getElementById('cart-quantity');
                cartQuantityElement.textContent = response.quantity;
            },
            error: function (error) {
                console.error('Error fetching cart quantity:', error);
            }
        });
    }




    document.querySelectorAll('.add-to-cart-button').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const productId = this.getAttribute('data-product-id');
            const availableQuantity = this.getAttribute('data-available-quantity');

            if (parseInt(availableQuantity) > 0) {
                $.ajax({
                    url: '/addtocart/' + productId,
                    method: 'POST',
                    success: function (response) {
                        toastr.success('Product add to cart', '', {
                        toastClass: 'custom-toast-success', 
                        positionClass: 'toast-bottom-center',
                        progressBar: true,
                        timeOut: 1500,
                    });
                        updateCartQuantity();
                    },
                    error: function (error) {
                        console.error('Error adding product to cart:', error);
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Out of Stock',
                    text: 'This product is currently out of stock.',
                });
            }
        });
    });


    document.querySelectorAll('.add-to-wishlist-button').forEach(button => {
    button.addEventListener('click', function (event) {
        event.preventDefault();

        const productId = this.getAttribute('data-product-id');
        console.log(">>>>>>>>>>>", productId);
        const icon = this.querySelector('.fa-heart');
        console.log("Wishlist reached");

        $.ajax({
            url: '/wishlist/',
            method: 'POST',
            data: {
                productId: productId,
            },
            success: function (response) {
                console.log(icon.style.color);
                if (response.added) {
                    toastr.success('Added to Wishlist', '', {
                        toastClass: 'custom-toast-success', 
                        positionClass: 'toast-bottom-center',
                        progressBar: true,
                        timeOut: 1500,
                    });

                    icon.classList.add('text-danger');

                    console.log(">>> reached");

                } else {
                    toastr.info('Removed from Wishlist', '', {
                        toastClass: 'custom-toast-info',
                        positionClass: 'toast-bottom-center', 
                        progressBar: true,
                        timeOut: 1500,
                    });

                    icon.classList.remove('text-danger');
                }
            },
            error: function (error) {
                console.error('Error updating wishlist:', error);
            }
        });
    });
});


</script>

<style>
    .custom-toast-success {
      background-color: #03c133 !important; 
      color: rgb(255, 255, 255) !important;
    }
    
    .custom-toast-info {
      background-color: #f33d21 !important; 
      color: white !important;
    }
</style>